<div class="container">
    <h2>Travel Groups</h2>
  
    <div class="group-form">
      <label>Your destination: </label>
      <input [(ngModel)]="destinatie" placeholder="Destination" />
      <br />
      <label>Your group name: </label>
      <input [(ngModel)]="nume" placeholder="Group name" />
      <br />
      <label>Members (comma separated emails): </label>
      <input [(ngModel)]="members" placeholder="Enter members" />
      <br />
      <button (click)="addGroup()">Add Group</button>
    </div>
  
    <div *ngFor="let group of getGroups()" class="group-card">
      <h3>{{ group.nume }}</h3>
      <p>{{ group.capacitate }} Members</p>
      
      <button (click)="navigateToDetails(group)">View Details</button>
    </div>
  </div>
  